# Visual Studio / IDE
.vs/
*.user
*.suo
*.ncrunch*
*.ide
*.vscode/

# Build outputs
bin/
obj/
out/
Logs/

# Logs and caches
*.log
*.cache
*.pdb
*.pid
*.tmp
*.bak
*.swp

# Databases / local storage
*.db
*.sqlite
*.mdf
*.ldf
*.sql

# OS-specific
.DS_Store
Thumbs.db

# Secrets / sensitive configs
*.env
appsettings.Development.json
secrets.json

# Node / frontend (if used)
node_modules/
npm-debug.log
yarn-error.log

# Documentation
*.md

# Git / version control
.git/
.gitignore

# Additional files
images/files
wwwroot/images/profiles

serviceAccountKey.json
googlekey.json