bin/
obj/
Properties/
.vscode/
.idea/
Logs/
wwwroot/images/profiles
EgyptOnline.sln
appsettings.json
appsettings.Development.json
appsettings.Production.json
googlekey.json

EgyptOnline.csproj
EgyptOnline.http
Migrations/
fly.toml
docker-compose.yaml
Dockerfile
*.log
*.txt
*.conf
*.md

*.sh