bin/
obj/
Properties/
.vscode/
.idea/
Logs/
wwwroot/images/profiles
appsettings.Development.json
serviceAccountKey.json
googlekey.json

EgyptOnline.http
Migrations/
fly.toml
docker-compose.yaml
*.log
*.txt
*.md
*.bat
*.sh