bin/
obj/
Properties/
.vscode/
.idea/
Logs/
EgyptOnline.sln
appsettings.json
appsettings.Development.json
appsettings.Production.json
EgyptOnline.csproj
EgyptOnline.http
Migrations/
fly.toml
docker-compose.yaml
Dockerfile
*.log
*.txt